<div class="detailModal">
  <div class="modal-header">
    <h4 class="modal-title">Số câu trả lời đúng: {{ correctWords }} / {{ totalLength }}</h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="onReload()">Làm lại</button>
    <button class="btn btn-primary" *ngIf="correctWords < totalLength - numberWordsWrong" (click)="onContinue()">Làm tiếp</button>
  </div>
</div>
