<div class="flashCardPage">
  <div class="title">Flash Card</div>
  <div class="filter">
    <button class="shuffle" (click)="onClickShuffleBtn()">
      <i class="fa-solid fa-rotate-right"></i>
    </button>
    <select class="" (change)="onFilter($event)">
      <option value="ALL" selected>Tất cả</option>
      <option value="NOT_REMEMBER">Chưa nhớ</option>
      <option value="REMEMBER">Đã nhớ</option>
    </select>
  </div>

  <div class="flash-card">
    <app-slide-show [activeWord]="activeWord" [idxCurrentWord]="activeWordIdx" [listWordLength]="listWordFiltered.length" (handleClickPrev)="onClickPrev()" (handleClickNext)="onClickNext()"></app-slide-show>
  </div>
  <div class="actions" *ngIf="listWord.length">
    <div class="remember" [class.active]="activeWord?.remember" (click)="setRememberState(activeWord?.id, true)">
      <i class="icon fa-solid fa-check"></i>
      <span>Đã nhớ</span>
    </div>

    <div class="notRemember" [class.active]="!activeWord?.remember" (click)="setRememberState(activeWord?.id, false)">
      <i class="icon fa-solid fa-xmark"></i>
      <span>Chưa nhớ</span>
    </div>
  </div>
</div>
