.flashCardPage {
  padding: 50px 100px;
  background-color: #30373f;
  height: 100vh;
  color: #fafafd;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  & .actions {
    display: flex;
    gap: 50px;
    & .remember {
      cursor: pointer;
      & .icon {
        padding: 8px 10px;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin-right: 6px;
      }

      &.active {
        i {
          color: #5fb719;
          background-color: #cde9d3;
        }
      }
    }

    & .notRemember {
      cursor: pointer;
      & .icon {
        padding: 8px 10px;
        border: 1px solid #ccc;
        margin-right: 6px;
        border-radius: 50%;
      }
      &.active {
        i {
          color: #e93f33;
          background-color: #f8dadd;
        }
      }
    }
  }

  & .title {
    font-size: 22px;
    text-transform: uppercase;
  }

  & .flash-card {
    width: 100%;
    height: 100%;
  }

  & .shuffle {
    background-color: #0e1420;
    padding: 6px 10px;
    color: #fafafd;

    border: 1px solid #ccc;
    border-radius: 6px;

    &:hover {
      opacity: 0.7;
    }
  }

  & .filter {
    gap: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    select {
      background-color: #0e1420;
      color: #fafafd;

      border: 1px solid #ccc;
      padding: 0 8px;
      border-radius: 6px;
    }
  }
}
