.fillPage {
  min-height: 100vh;
  background-color: #30373f;
  color: #fafafd;
  display: flex;
  align-items: center;

  & .wrapper {
    margin: auto;
    width: 80%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .description {
    font-size: 18px;
  }

  & .mean {
    margin: 15px 0;
  }

  & .listWord {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 500px;
    & .item {
      border: 2px solid #ccc;
      width: 70px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      font-size: 24px;
      font-weight: bold;

      &.selectedWrong {
        background-color: #ff4958;
      }

      &.selectedCorrect {
        background-color: #37ff73;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }

  & .blank {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    gap: 4px;
  }

  & .timeLine-container {
    margin: 15px auto;
    width: 500px;
    text-align: center;

    & .timeLine-progress {
      padding: 6px;
      background: rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
        0 1px rgba(255, 255, 255, 0.08);
    }

    & .progress-inside {
      height: 12px;
      background-color: #ee303c;
      border-radius: 4px;
      transition: 0.4s linear;
      transition-property: width, background-color;
    }

    & .progress-striped .progress-inside {
      background-color: #fcbc51;
      width: 100%;
      background-image: linear-gradient(
        45deg,
        rgb(252, 163, 17) 25%,
        transparent 25%,
        transparent 50%,
        rgb(252, 163, 17) 50%,
        rgb(252, 163, 17) 75%,
        transparent 75%,
        transparent
      );
      &.show {
        animation: progressAnimationStrike 30s;
      }
    }
  }

  @keyframes progressAnimationStrike {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
}
