<div class="fillPage">
  <div class="wrapper">
    <div class="timeLine">
      <div class="timeLine-container">
        <div class="timeLine-progress progress-striped">
          <div class="progress-inside show"></div>
        </div>
      </div>
    </div>
    <div class="description">Điền từ còn thiếu vào chỗ trống</div>

    <div class="blank">
      <ng-template ngFor [ngForOf]="currentWordSplitArr" let-idx="index">
        <div class="item" [class.selectedWrong]="" [class.selectedCorrect]="" *ngIf="filledChart[idx + 1] === ''">__</div>
        <div class="item" [class.selectedWrong]="" [class.selectedCorrect]="" *ngIf="filledChart[idx + 1] !== ''">
          {{ filledChart[idx + 1] }}
        </div>
      </ng-template>
    </div>
    <div class="mean">Mean: : {{ currentWord.mean }}</div>
    <div class="listWord">
      <ng-template ngFor [ngForOf]="listChart" let-chart>
        <div class="item" [class.selectedWrong]="" [class.selectedCorrect]="" (click)="onSelect(chart)">
          {{ chart }}
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #resultModal let-modal>
    <app-modal-result title="Thông tin chi tiết" [totalLength]="listWord.length" [correctWords]="numberCorrect" (continue)="onClickContinue()" (reload)="onClickReload()"> </app-modal-result>
  </ng-template>
</div>
