<div class="slideShowWord" (click)="setIsShowMean($event)">
  <i class="icon-left fa-solid fa-angle-left" (click)="onClickPrev($event)"></i>
  <div class="length">{{ listWordLength ? idxCurrentWord + 1 : 0 }} / {{ listWordLength }} từ</div>
  <ng-template [ngIf]="listWordLength" [ngIfElse]="empty">
    <div class="content">
      <div class="front" [class.show]="!isShowMean" [class.hidden]="isShowMean">
        {{ activeWord?.name }}
      </div>
      <div class="back" [class.show]="isShowMean" [class.hidden]="!isShowMean">Nghĩa: {{ activeWord?.mean }}</div>
    </div>
    <div class="note">Click vào để lật thẻ</div>
  </ng-template>
  <ng-template #empty>
    <div class="content">No Word Found...</div>
  </ng-template>
  <i class="icon-right fa-solid fa-angle-right" (click)="onClickNext($event)"></i>
</div>
