.slideShowWord {
  width: 100%;
  height: 100%;
  border: 1px solid #d5d5d5;
  background-color: #0e1420;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  & .length {
    padding: 15px 25px;
  }

  & .content {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    overflow: hidden;
    // test animation
    // position: absolute;
    position: relative;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;

    & .front {
      // transform: rotateY(-180deg);

      &.show {
        transform: rotateY(0deg);
      }

      &.hidden {
        transform: rotateY(-180deg);
      }
    }

    & .back {
      // transform: rotateY(0deg);

      &.show {
        transform: rotateY(0deg);
      }

      &.hidden {
        transform: rotateY(180deg);
      }
    }

    & .front {
      position: absolute;
      backface-visibility: hidden;
      transform: rotateY(0deg);
      transition: 0.5s;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .back {
      position: absolute;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      transition: 0.5s;

      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
      }
    }
  }

  & .note {
    flex: 1;
    width: 100%;
    background-color: #d4dcdc;
    color: #6c6c6c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 13px 13px;
  }
  & .icon-left {
    z-index: 100;
    position: absolute;
    left: -20px;
    top: 40%;
    border-radius: 50%;
    padding: 16px 20px;
    border: 1px solid #ccc;
    background-color: #222836;
    cursor: pointer;
  }

  & .icon-right {
    z-index: 100;
    position: absolute;
    right: -20px;
    top: 40%;
    border-radius: 50%;
    padding: 16px 20px;
    border: 1px solid #ccc;
    background-color: #222836;
    cursor: pointer;
  }
}
