<div class="listWord">
  <div class="content">
    <ng-template ngFor [ngForOf]="listWord" let-word>
      <div class="item" (click)="onSelectWord(word)">
        <div class="type">
          {{ word.type | slice : 0 : 1 | uppercase }}
        </div>
        <div class="name">{{ word.name }}</div>
      </div>
    </ng-template>
  </div>
  <ng-template #detailModal let-modal>
    <app-modal-detail title="Thông tin chi tiết" [detailWord]="selectedWord"> </app-modal-detail>
  </ng-template>
</div>
