.listWord {
  & .content {
    border-radius: 15px;
    min-height: 100vh;
    height: auto;
    display: grid;
    gap: 60px;
    grid-template-columns: 47% 47%;
    grid-template-rows: 250px;
  }

  & .item {
    width: 100%;
    height: 250px;
    border: 1px solid #a9a6a6;
    border-radius: 10px;
    color: #fafafd;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    &:hover {
      cursor: pointer;
      border: 1px solid #d5d5d5;
      box-shadow: 5px 10px #010a1a;
    }

    & .type {
      flex: 1;
      text-align: center;
      width: 60px;
      height: 55px;
      border-radius: 50%;
      border: 1px solid #ccc;
      display: flex;
      font-size: 26px;
      justify-content: center;
      align-items: center;
    }

    & .name {
      flex: 7;
    }
  }
}
