<div class="sideBar">
  <ng-template ngFor [ngForOf]="listItem" let-item>
    <div class="item" [class.active]="activatedId == item.categoryId" (click)="onSelect(item.categoryId, item.categoryName)">
      {{ item.categoryName }}
    </div>
  </ng-template>
</div>
