<div class="home">
  <div class="nav-container" *ngIf="isAvailableCategory">
    <app-side-bar [listItem]="categories"></app-side-bar>
  </div>
  <div class="listWord" *ngIf="isAvailableCategory">
    <ng-template [ngIf]="listWord.length">
      <div class="actions">
        <span (click)="onClickFlashCardBtn()"> Flashcard </span>
        <span (click)="onClickFillBtn()"> Fill </span>
      </div>
    </ng-template>
    <app-list-word [listWord]="listWord"></app-list-word>
  </div>
  <h1 class="notFound" *ngIf="!isAvailableCategory">No Category Found</h1>
</div>
