<div class="detailModal">
  <div class="modal-header">
    <h4 class="modal-title">Tiêu đề modal</h4>
  </div>
  <div class="modal-body body">
    <div>{{ detailWord?.name }}</div>
    <div>mean: {{ detailWord?.mean }}</div>
    <div>type: {{ detailWord?.type }}</div>
  </div>
</div>
